@font-face {
    font-weight: 600;
    font-style:  normal;
    font-family: 'Denim';

	src: url('https://neueweb.netlify.app/prometheus/Denim-Regular.ttf') format(’ttf’),
        url('https://neueweb.netlify.app/prometheus/Denim-Regular.woff') format(‘woff’),
        url('https://neueweb.netlify.app/prometheus/Denim-Regular.woff2') format(‘woff2’);
  }

@font-face {
    font-weight: 600;
    font-style:  normal;
    font-family: 'Denim';

	src: url('https://neueweb.netlify.app/prometheus/Denim-SemiBold.ttf') format(’ttf’),
        url('https://neueweb.netlify.app/prometheus/Denim-SemiBold.woff') format(‘woff’),
        url('https://neueweb.netlify.app/prometheus/Denim-SemiBold.woff2') format(‘woff2’);
  }

@font-face {
    font-weight: 400;
    font-style:  normal;
    font-family: 'Denim INK WD';

	src: url('https://neueweb.netlify.app/prometheus/DenimINKWD-Regular.ttf') format(’ttf’),
        url('https://neueweb.netlify.app/prometheus/DenimINKWD-Regular.woff') format(‘woff’),
        url('https://neueweb.netlify.app/prometheus/DenimINKWD-Regular.woff2') format(‘woff2’);
  }

@font-face {
    font-family: 'Boogy Brut';
    font-weight: 500;
    font-style:  italic;
    
    src:    url('https://neueweb.netlify.app/prometheus/Boogy_Brut_WEBL-Book_Italic.eot');
    src:    url('https://neueweb.netlify.app/prometheus/Boogy_Brut_WEBL-Book_Italic.eot?#iefix') format('embedded-opentype'),
            url('https://neueweb.netlify.app/prometheus/Boogy_Brut_WEBL-Book_Italic.woff') format('woff'),
            url('https://neueweb.netlify.app/prometheus/Boogy_Brut_WEBL-Book_Italic.woff2') format('woff2');
}


@font-face {
    font-family: 'Boogy Brut';
    font-weight: 500;
    font-style:  normal;
    src:    url('https://neueweb.netlify.app/prometheus/Boogy_Brut_WEBL-Book.eot');
    src:    url('https://neueweb.netlify.app/prometheus/Boogy_Brut_WEBL-Book.eot?#iefix') format('embedded-opentype'),
            url('https://neueweb.netlify.app/prometheus/Boogy_Brut_WEBL-Book.woff') format('woff'),
            url('https://neueweb.netlify.app/prometheus/Boogy_Brut_WEBL-Book.woff2') format('woff2');
}

@font-face {
    font-family: 'Boogy Brut';
    font-weight: 300;
    font-style:  italic;
    src:    url('https://neueweb.netlify.app/prometheus/Boogy_Brut_WEBL-Light_Italic.eot');
    src:    url('https://neueweb.netlify.app/prometheus/Boogy_Brut_WEBL-Light_Italic.eot?#iefix') format('embedded-opentype'),
            url('https://neueweb.netlify.app/prometheus/Boogy_Brut_WEBL-Light_Italic.woff') format('woff'),
            url('https://neueweb.netlify.app/prometheus/Boogy_Brut_WEBL-Light_Italic.woff2') format('woff2');
}

@font-face {
    font-family: 'Boogy Brut';
    font-weight: 300;
    font-style:  normal;
    src:    url('https://neueweb.netlify.app/prometheus/Boogy_Brut_WEBL-Light.eot');
    src:    url('https://neueweb.netlify.app/prometheus/Boogy_Brut_WEBL-Light.eot?#iefix') format('embedded-opentype'),
            url('https://neueweb.netlify.app/prometheus/Boogy_Brut_WEBL-Light.woff') format('woff'),
            url('https://neueweb.netlify.app/prometheus/Boogy_Brut_WEBL-Light.woff2') format('woff2');
}